<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<title>快速登录 - 有趣的游戏</title>
	<!-- Loading Bootstrap -->
	<link href="~/sRaw/ui/css/bootstrap.min.css" rel="stylesheet">

	<link rel="shortcut icon" href="~/sRaw/ui/img/favicon.ico">

	<style>
		body:before {
			content: ' ';
			position: fixed;
			z-index: -1;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: url("/sRaw/ui/img/back.jpg") 50% 0 repeat-y;
			background-size: cover;
		}

		body {
			background-image: url("/sRaw/ui/img/back.jpg");
			background-repeat: no-repeat;
			background-position: center top;
			background-size: cover;
			background-attachment: fixed;
		}

		.toend {
			position: absolute;
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
		}
	</style>
</head>
<body>
	<div class="toend">
		<div class="panel panel-default" style="margin-left: 10px;margin-right: 10px;margin-top: 60px;width: calc(100% - 20px);opacity:0.9">
			<div class="panel-body">
				<strong>快速登录</strong>
			</div>
			<div class="panel-footer">
				<span class="label label-primary">检测到已登录的账号：</span>
				<span class="label label-danger">@Context.Request.Cookies["username"]</span><br />
				<div style="margin-top:10px"></div>
				<DIV style="BORDER-TOP: #00686b 1px dashed; OVERFLOW: hidden; HEIGHT: 1px"></DIV>
				<div style="margin-top:10px"></div>
				<span class="label label-warning">请求的权限：</span><br />
				<div style="margin-top:10px"></div>
				<span class="label label-success">· 读取所有权限</span><br />
				<div style="margin-top:10px"></div>
				<span class="label label-success">· 读取头衔、称号</span><br />
				<div style="margin-top:10px"></div>
				<span class="label label-success">· 读取个性签名</span><br />
				<div style="margin-top:10px"></div>
				<span class="label label-success">· 读取签到状态</span><br />
				<div style="margin-top:10px"></div>
				<span class="label label-success">· 读取金币等积分信息</span><br />
				<div style="margin-top:10px"></div>
				<button class="btn btn-embossed btn-info" style="width:100%;margin-top:10px" id="ok">确认</button>
			</div>
		</div>


	</div>
	<script src="~/sRaw/ui/js/jquery.min.js"></script>
	<script src="~/sRaw/ui/js/jquery.cookie.js"></script>
	<script src="~/sRaw/ui/js/bootstrap.min.js"></script>
	<script src="~/sRaw/ui/js/video.js"></script>
	<script src="~/sRaw/ui/js/prettify.js"></script>
	<script src="~/sRaw/ui/js/application.js"></script>
	<script src="~/sRaw/ui/js/sign.js"></script>
	<script>
		$("#ok").click(function () {
			$.cookie('gusername', '@Context.Request.Cookies["username"]');
			$.cookie('gpassword', '@Context.Request.Cookies["password"]');
			location.reload();
		});
	</script>
</body>
</html>