<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>注册 - 登记住户</title>
	<!-- Loading Bootstrap -->
	<link href="~/sRaw/ui/css/bootstrap.min.css" rel="stylesheet">
	<!-- Loading Flat UI -->
	<link href="~/sRaw/ui/css/flat-ui.min.css" rel="stylesheet">

	<link rel="shortcut icon" href="~/sRaw/ui/img/favicon.ico">
	<style type="text/css">
		body {
			background-color: rgba(58, 199, 228, 0.66);
			width: 400px;
			margin-left: auto;
			margin-right: auto;
		}

		.headline {
			padding: 5px 0 0;
			text-align: center;
			color: #9F00FF;
		}

		.freg {
			position: relative;
			background-color: #edeff1;
			border-radius: 6px;
			box-sizing: border-box;
			width: 400px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
			margin-top: 60px;
		}

		.input {
			text-align: center;
			width: 300px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
		}

			.input:focus {
				color: #228586;
				border-color: #08C534 !important;
			}

		.fbutton {
			margin-left: 35px;
			margin-right: auto;
			margin-bottom: 10px;
			width: 300px;
			color: white;
			background-color: #74AB28;
		}

			.fbutton:hover {
				background-color: #18882A !important;
				border-color: #18882A !important;
			}

			.fbutton:active {
				background-color: #286090 !important;
				border-color: #204d74 !important;
			}

		.about {
			position: relative;
			margin-left: auto;
			margin-right: auto;
			color: white;
			text-align: center;
		}

		.calert {
			margin-top: 20px;
		}
	</style>
</head>
<body>
	<div class="freg container" id="view">
		<h3 class="headline">注册</h3>
		<input type="text" placeholder="输入账号" class="input form-control flat" id="regusername" />
		<input type="password" placeholder="输入密码" class="input form-control flat" id="regpassword" />
		<input type="password" placeholder="确认密码" class="input form-control flat" id="regconfirmpassword" />
		<input type="email" placeholder="邮箱" class="input form-control flat" id="regemail" />
		<button class="fbutton btn btn-embossed" id="register">注册 - 登记住户</button><br />
	</div>
	<h5 class="about">Powered By SpaceTimeX</h5>
	<h6 class="about">Using Custom Application</h6>
	<script src="~/sRaw/ui/js/jquery.min.js"></script>
	<script src="~/sRaw/ui/js/video.js"></script>
	<script src="~/sRaw/ui/js/flat-ui.min.js"></script>
	<script src="~/sRaw/ui/js/prettify.js"></script>
	<script src="~/sRaw/ui/js/application.js"></script>
	<script src="~/sRaw/ui/js/sign.js"></script>
	<script>
		var iia = false;
		$("#register").click(function () {
			if (iia) return;
			$("#register").addClass("disabled");
			iia = true;
			var _username = $("#regusername").val();
			var _password = $("#regpassword").val();
			var _confirmpassword = $("#regconfirmpassword").val();
			var _email = $("#regemail").val();
			var arg = {};
			arg["username"] = _username;
			arg["password"] = _password;
			arg["confirmpassword"] = _confirmpassword;
			arg["email"] = _email;
			$.post("/Main/checkRegister", arg, function (data) {
				if (data.state == "Error") {
					var added = "<div class=\"calert alert alert-danger alert-dismissible fade in\" role=\"alert\">\n" +
					"<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>\n" +
					"<Font size=2><strong>" + data.error + "</strong></FONT> \n" +
					"</div>";
					$("#view").prepend(added);
					$("#register").removeClass("disabled");
					iia = false;
				} else if (data.state == "Success") {
					window.location = "/Main/Login";
					alert("注册成功！");

				}
			}, "json");

		});

	</script>
</body>
</html>
